/* HEADER */
header{
    background-color: #f3f4f9;
    padding: 64px 0 150px 0;
}
/* CONTAINER */
.container{
    width: 1140px;
    margin: 0 auto;
}
/* NAVBAR */
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 136px;
}
.logo a{
    font-weight: 400;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: #000;
    text-transform: uppercase;
}
nav ul{
    display: flex;
    justify-content: space-between;
    width: 580px;
}
nav a{
    font-weight: 400;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: #000;
    text-transform: capitalize;
}
.icon{
    padding-left: 10px;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.circle{
    background-color: #fff;
    width: 600px;
    height: 600px;
    border-radius: 50%;
}
.img-2{
    position: absolute;
    bottom: 15%;
    left: -260px;
}
.img-2 img{
    display: block;
    width: 700px;
    height: 580px;
}
h1{
    font-weight: 400;
    font-size: 56px;
    font-family: "Roboto", sans-serif;
    color: #000;
    width: 430px;
    line-height: 70px;
}
.text-1 p{
    font-weight: 400;
    font-size: 21px;
    font-family: "Roboto", sans-serif;
    color: #000;
    width: 430px;
    line-height: 32px;
    opacity: 0.8;
    padding-bottom: 74px;
}
.text-1 a{
    font-weight: 400;
    font-size: 21px;
    font-family: "Roboto", sans-serif;
    color: #000;
    text-transform: uppercase;
}

/* MAIN */
main{
    padding: 125px 0;
}
.view{
    padding-bottom: 130px;
}
.title-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.title-2 p{
    font-weight: 400;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #000;
    text-transform: uppercase;
    opacity: 0.800;
}
h2{
    font: 400 42px arial;
    padding: 30px 0 130px 0;
}
#all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
h3{
    font-weight: 400;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #000;
    padding-bottom: 14px;
}
.text-2 p{
    font-weight: 400;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #000;
    width: 255px;
    line-height: 24px;
    opacity: 0.502;
}
.section-1{
    display: flex;
    justify-content: space-between;
    width: 357px;
}
.icon-1 i{
    font-size: 64px;
}
/* CONTAINER */
.view-1{
    padding-bottom: 130px;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
}
h4{
    font: 400 42px arial;
    padding-bottom: 32px;
}
.title p{
    font: 400 19px arial;
}
#all-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.img{
    padding-bottom: 42px;
}
.img img{
    display: block;
    width: 360px;
    height: 480px;
    object-fit: cover;
}
.text{
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}
.small-text{
    font: 400 19px arial;
}
.small-text-1{
    font: 400 19px arial;
}
#tablet{
    display: none;
}
/* CONTAINER */
#title-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 70px;
}
#title-1 p{
    font: 400 19px arial;
    width: 730px;
    line-height: 30px;
}
.form{
    display: flex;
    justify-content: center;
}
.form-1 input{
    width: 444px;
    border: 0;
    background-color: #f0f0f0;
    padding: 20px 25px;
}
.link a{
    display: inline-block;
    font: 400 14px arial;
    color: #fff;
    text-transform: uppercase;
    background-color: #110e0f;
    padding: 20px 42px;
}

/* FOOTER */
footer{
    background-color: #000;
    padding: 90px 0 45px 0;
}
#footer-text{
    display: flex;
    justify-content: space-between;
    padding-bottom: 84px;
}
h5{
    font: 400 26px arial;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 55px;
}
.footer-text-1 p{
    font: 400 14px arial;
    color: #fff;
    width: 252px;
    line-height: 24px;
}
h6{
    font: 400 18px arial;
    color: #fff;
    padding-bottom: 45px;
}
.small-view{
    padding-bottom: 20px;
}
.footer-link{
    display: flex;
    flex-direction: column;
}
.small-view a{
    font: 400 14px arial;
    color: #fff;
}
.footer-text-2 i{
    font-size: 14px;
    color: #d6a650;
    padding-right: 19px;
}
.border{
    border-top: 1px solid #555555;
    padding-bottom: 62px;
 }
/* CONTAINER */
#view{
    display: flex;
    justify-content: space-between;
}
.rights p, .view-2 a{
    font: 400 16px arial;
    color: #fff;
    opacity: 0.502;
    letter-spacing: 2px;
}
.rights a{
    color: #fff;
}
.view-2 ul{
    display: flex;
    justify-content: space-between;
    width: 440px;
}
.view-3{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.small-view-1 i{
    font-size: 16px;
    color: #ded4fd;
    opacity: 0.502;
    transition: .4s;
}
.small-view-1 i:hover{
    color: #fff;
    opacity: 1;
}

@media(min-width:1200px) and (max-width:1521px){
    /* CONTAINER-1 */
    .container-1{width: 90vw; margin-left: calc(50% - 45vw);}
    .img-1{width: 48%;}
    .circle, .img-2 img{width: 100%; height: auto;}
    .circle{aspect-ratio: 1 / 1;}
    .img-2{width: 60%; left: -11%;}
}
@media(min-width:768px) and (max-width:1200px){
    .container{width: 90%;}
    .img-1, .text-1, .section-1, .section{width: 48%;}
    .circle, .img-2 img, h1, .text-1 p, .text-2 p, .img img, #title-1 p, .form-1, .form-1 input, .footer-text-1 p{width: 100%;}
    .circle, .img-2 img{height: auto;}
    .circle{aspect-ratio: 1 / 1;}
    .img-2{width: 60%; left: -11%;}
    h1{font-size: 36px;}
    .text-1 p, .text-1 a{font-size: 16px;}
    .icon-1{padding-right: 30px;}
    #tablet{display: block;}
    .link a{background: transparent; color: #110e0f; margin-left: 20px; padding: 20px 0; width: 80px;}
    .footer-text-1{width: 30%;}
    #view{flex-direction: column; align-items: center; gap: 16px;}
    .flex-view{display: none;}
}
@media(max-width:768px){
    .container{width: 90%;}
    #navbar, nav ul, #all, #all-1, #footer-text, #view, .view-2 ul{flex-direction: column;}
    #navbar, #all, #view{gap: 30px;}
    .logo a, h1{font-size: 30px;}
    nav ul, .text-1, #footer-text, .rights p{text-align: center;}
    nav ul, .view-2 ul{gap: 16px;}
    .content{justify-content: center;}
    h1{line-height: normal; width: auto; min-width: 240px;}
    .text-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 30px;
        border-radius: 50%;
        width: 100vw;
        aspect-ratio: 1 / 1;
    }
    .text-1 p, .text-1 a{font-size: 16px;}
    .text-1 p{padding: 20px 0 50px 0; line-height: 20px; width: auto; min-width: 300px;}
    nav ul, .section-1, .text-2, .text-2 p, .img img, .text, #title-1 p, .form-1, .form-1 input, .footer-text-1 p, .view-2 ul{width: 100%;}
    .section-1{justify-content: start;}
    .icon-1{padding-right: 30px;}
    .link a{background: transparent; color: #110e0f; margin-left: 20px; padding: 20px 0; width: 80px;}
    .footer-text-1 p{padding-bottom: 45px;}
    .view-2 ul, #view{align-items: center;}
    .img-1, .icon{display: none;}
}